<div class="container pt-3">
  <div class="row">
    <div class="col-md-3">
      <div class="card card-body flex-row align-items-center">
        <div class="bg-primary d-flex justify-content-center align-items-center"
          style="width: 80px; height: 80px; border-radius: 40px;">
          <i class="fa fa-users text-white" style="font-size: 30px;"></i>
        </div>
        <div class="ms-4">
          <p>Staff</p>
          <h3 class="mb-0">{{register}}</h3>
          <button mat-stroked-button color="primary" routerLink="user">User</button>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card card-body flex-row align-items-center">
        <div class="bg-primary d-flex justify-content-center align-items-center"
          style="width: 80px; height: 80px; border-radius: 40px;">
          <i class="fa fa-users text-white" style="font-size: 30px;"></i>
        </div>
        <div class="ms-4">
          <p>Institution</p>
          <h3 class="mb-0">{{inst}}</h3>
          <!-- <button mat-raised-button color="primary">Primary</button> -->
          <button mat-stroked-button color="primary" routerLink="institution-list">Institution</button>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card card-body flex-row align-items-center">
        <div class="bg-primary d-flex justify-content-center align-items-center"
          style="width: 80px; height: 80px; border-radius: 40px;">
          <i class="fa fa-users text-white" style="font-size: 30px;"></i>
        </div>
        <div class="ms-4">
          <p>HR</p>
          <h3 class="mb-0">{{hr}}</h3>
          <button mat-stroked-button color="primary" routerLink="manager-list">HR</button>
        </div>
      </div>
    </div>
    <!-- <div class="col-md-3">
      <div class="card card-body flex-row align-items-center">
        <div class="bg-primary d-flex justify-content-center align-items-center" style="width: 80px; height: 80px; border-radius: 40px;">
          <i class="fa fa-users text-white" style="font-size: 30px;"></i>
        </div>
        <div class="ms-4">
          <p>Employees</p>
          <h3 class="mb-0">100</h3>
        </div>
      </div>
    </div> -->
  </div>





</div>


<!-- <div class="flex-column flex-lg-row tertiary-alert back">
  <div class="row text-black">
    <div class="col-sm-12 col-md-6 col-lg-6 mb-4">
      <thead>
        <th>MAWASILIANO</th>
      </thead>
      <div>
        <ul>
          <li>SLP: 000 ZANZIBAR</li>
          <li>SIMU: +255 627 552 835</li>
          <li>NUKUSHI: +255 774 129 204</li>
        </ul>
      </div>
    </div>
  </div>
</div> -->
