/* .card-body {
  display: flex;
  align-items: center;
}

.bg-primary {
  border-radius: 40px;
}

.card p {
  margin: 0;
}

.card h3 {
  margin: 0;
}

button {
  margin-top: 8px;
}

.card .ms-4 {
  margin-left: 16px;
} */
