body {
  font-family: 'Times New Roman', serif;
}

.letter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f4f4f4;
}

.letter-card {
  width: 80%;
  max-width: 600px;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  background: #fff;
  text-align: center;
}

.logo img {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
}

.content {
  text-align: left;
  margin: 0 auto;
  padding: 0 20px;
}

.print-button {
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

@media print {
  .print-button {
    display: none; /* Hide the print button when printing */
  }
}

.modal-content{
  width: 1000px;
}

#myPdf{
  width: 85%;
  height: 900px;
}

.container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  /* margin-bottom: 100px; */
  margin-top: 50px;
  /* min-height: 100vh; */
}

.text-center {
  text-align: center;
  margin-bottom: 3px;
  margin-top: 20px;
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow-x: auto;
}

/* .mat-table-centered {
  margin: 0 auto;
  min-width: 300px;
} */

.mat-header-cell, .mat-cell {
  text-align: center;
}

.action-buttons {
  display: flex;
  gap: 5px; /* Adjust the gap between buttons as needed */
  align-items: center;
}

.text-success {
  color: green;
  font-weight: bold;
}

.text-danger {
  color: red;
  font-weight: bold;
}

.text-warning {
  color: orange;
  font-weight: bold;
}

.text-primary {
  color: blue; /* Updated to blue for 'in process' */
  font-weight: bold;
}

.text-secondary {
  color: rgb(85, 87, 88);
  font-weight: bold;
}


