<div class="container-fluid p-5  text-white text-center">
  <h1 class="scrolling-heading">WELCOME TO STAFF DASHBOARD</h1>

  <p>The Staff Transfer Management System is a system designed to facilitate staff registration and requests for conducting transfer on different institutions.</p>
  <p>The system allows staff to submit transfer requests from one institution to another. Managers can review and confirm these requests before they are sent to the admin for final approval. The admin can then accept the request, after which a confirmation letter is generated. The system tracks the status of each transfer request at various stages, enabling both staff and managers to monitor progress. It ensures smooth communication between institutions, staff, and management during the transfer process.</p>
</div>
<div class="container mt-5">
  <div class="row">
    <div class="col-sm-4">
      <!-- <h1>Staff</h1> -->
      <img src="assets/transfer2.webp" style="height: 300px; width: 350px;">
    </div>
    <div class="col-sm-4">
      <!-- <h1>Instituion</h1> -->
      <img src="assets/transfer2.jpg" style="height: 300px; width: 350px;">
    </div>
    <div class="col-sm-4">
      <!-- <h1>Request</h1> -->
      <img src="assets/transfer3.jpg" style="height: 300px; width: 350px;">
    </div>
  </div>
</div>







