/* .carousel-inner img {
  max-height: 500px;
  object-fit: cover;
} */

.container-fluid{
  background-color: #06290e;
}

.scrolling-heading {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  animation: scroll-left 10s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

