<div class="container mt-5">
  <div class="row mb-3">
    <div class="col-sm-6">
      <h2><b>Transfer List</b></h2>
    </div>
    <div class="col-sm-6">
      <!-- Search input field -->
      <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchText" />
    </div>
  </div>
  <mat-card>
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>SN</th>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Telephone</th>
            <th>Address</th>
            <th>Gender</th>
            <th>Current Institution</th>
            <th>Desired Institution</th>
            <th>Date of Submitting</th>
            <th>Reasons for Transfer</th>
            <th>Comments</th>
            <th>Status</th>
            <th style="width: 180px;">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of filteredUserList(); let x = index">
            <td>{{ x + 1 }}</td>
            <td>{{ data.firstName }}</td>
            <td>{{ data.middleName }}</td>
            <td>{{ data.lastName }}</td>
            <td>{{ data.email }}</td>
            <td>{{ data.phoneNumber }}</td>
            <td>{{ data.address }}</td>
            <td>{{ data.gender }}</td>
            <td>{{ data.current_institution }}</td>
            <td>{{ data.institution?.name }}</td>
            <td>{{ data.date }}</td>
            <td>{{ data.reason_for_transfer }}</td>
            <td>{{ data.comment }}</td>
            <td [ngClass]="getStatusClass(data.status)">{{ data.status }}</td>
            <td>
              <div class="action-buttons">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="confirmRequest(data)">
                    <mat-icon color="primary">check</mat-icon>
                    <span>Confirm</span>
                  </button>
                  <button mat-menu-item (click)="rejectRequest(data)">
                    <mat-icon color="warn">cancel</mat-icon>
                    <span>Reject</span>
                  </button>
                  <button mat-menu-item (click)="delete(data.id)">
                    <mat-icon color="warn">delete</mat-icon>
                    <span>Delete</span>
                  </button>
                  <button mat-menu-item *ngIf="data.status === 'accepted'" (click)="downloadLetter(data.id, data.institution?.id)">
                    <mat-icon color="accent">download</mat-icon>
                    <span>Download</span>
                  </button>
                </mat-menu>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </mat-card>
</div>
