/* transfer-list.component.css */
.action-buttons {
  display: flex;
  gap: 5px; /* Adjust the gap between buttons as needed */
  align-items: center;
}

.text-success {
  color: green;
  font-weight: bold;
}

.text-danger {
  color: red;
  font-weight: bold;
}

.text-warning {
  color: orange;
  font-weight: bold;
}

.text-info {
  color: rgb(43, 106, 148);
  font-weight: bold;
}
.text-secondary {
  color: rgb(85, 87, 88);
  font-weight: bold;
}


/* .text-danger {
  color: #dc3545;
} */

