/* .container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  padding-top: 50px;
  padding-right: 30px;
  margin-right: 200px;
}

.card {
  width: 300px;
} */
