<div class="container mt-3">
  <div class="row">
    <div class="col-sm-6">
      <h2>List of Institutions</h2>
    </div>
    <div class="col-sm-6 d-flex justify-content-end align-items-center">
      <input type="text" class="form-control w-50 me-2" [(ngModel)]="searchTerm" (ngModelChange)="applyFilter()" placeholder="Search Institution">
      <button mat-stroked-button (click)="addInstitution()" color="primary">
        <mat-icon>add</mat-icon>Add New Institution
      </button>
    </div>
  </div>

  <div class="card mt-3">
    <div class="card-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>SN</th>
            <th>Name</th>
            <th>Address</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of institutionListFiltered; let x = index">
            <td>{{ x + 1 }}</td>
            <td>{{ data.name }}</td>
            <td>{{ data.address }}</td>
            <td>{{ data.phoneNumber }}</td>
            <td>{{ data.email }}</td>
            <td>
              <div class="btn-group" role="group">
                <button mat-raised-button color="primary" style="margin-right: 2px;" (click)="updateInst(data.id)">
                  <mat-icon>edit</mat-icon>Edit
                </button>
                <button mat-raised-button color="warn" (click)="deleteInst(data.id)">
                  <mat-icon>delete</mat-icon>Delete
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
