<div class="container-fluid p-5 bg-success text-white text-center">
  <h1> Staff Transfer Management System</h1>
  <p>The Staff Transfer Management System is a system designed to facilitate staff registration and requests for conducting field studies on different organizations.</p>
</div>
<!-- <div class="container mt-5">
  <div class="row">
    <div class="col-sm-4">
      <h1>Student</h1>
      <p>The "Student" section of the system allows students to register and create profiles. They can provide their personal information.</p>
      <p>Once registered, students can browse through a list of available organizations and research opportunities.</p>
    </div>
    <div class="col-sm-4">
      <h1>Organization</h1>
      <p>The "Organization" section is dedicated to providing information about various organizations that are open to hosting student studies. Organizations can create profiles and specify their research areas, facilities, and requirements for student involvement.</p>
      <p>Organizations can review student applications and select suitable candidates for their research projects.</p>
    </div>
    <div class="col-sm-4">
      <h1>Request</h1>
      <p>In the "Request" section, students can submit applications to organizations expressing their interest in conducting studies or research projects. They can provide details about their proposed research, preferred organization, and desired duration of the project.</p>
      <p>Organizations can review these requests and accept or reject them based on their specific criteria and availability.</p>
    </div>
  </div>
</div> -->

<!-- <footer class="bg-dark text-white text-center p-3 mt-5">
  <p>&copy; 2024 Online Field Application. All Rights Reserved.</p>
</footer> -->




